body {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

body main {
    height: 1024px;
    width: 768px;
    margin: auto;
    /* border: solid black 1px; */
    overflow: hidden;
}

body main #header {
    padding: 5px 15px 5px 15px;
    /* border: solid red 1px; */
}

body main #header h1 {
    margin: 0px;
    color: #0084F4;
}

/* body main #main {
    border: solid green 1px;
} */

body main #main #hero-video {
    /* padding: 15px; */
    position: relative;
    height: 253px;
    overflow: hidden;
    /* background-color: blueviolet; */
}

body main #main #hero-video #bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*isi penuh tanpa distorsi */
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 1;
    /* default tampil */
    transition: opacity 1s ease-in-out;
    /* durasi & efek transisi */
}

body main #main #hero-video #hero-text {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 15px;
    padding-top: 50px;
    /* margin: auto; */
    height: 100%;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

body main #main #mou-grid {
    max-width: 100%;
    overflow: hidden;
    padding: 15px;
    background: #fff;
}

body main #main #mou-grid h3 {
    margin: 15px 0px;
}

body main #main #mou-grid #grid {
    height: 170px;
    display: flex;
    will-change: transform;
    /* display: grid;
    padding: 5px;
    grid-template-columns: repeat(6, 1fr);
    gap: 5px; */
}

body main #main #mou-grid #grid .column {
    flex: 0 0 auto;
    /* card tidak mengecil */
    width: 120px;
    margin: 0 10px;
    padding: 5px;
    background: #fff;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    border: solid lightgray 1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /*
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.3);
    background-color: white; */
}

body main #main #mou-grid #grid .column .icon {
    height: 80px;
    /* width: 50px; */
    margin-bottom: 5px;
    border-radius: 10px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

body main #main #product {
    padding: 15px;
}

body main #main #product #grid-product {
    height: 200px;
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    background-color: #0084F4;
    box-shadow: 4px 6px 4px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 10px;
}

body main #main #product #grid-product .column {
    padding: 5px;
}

body main #main #product #grid-product #image-column {
    display: flex;
}

body main #main #product #grid-product .column #product-image {
    position: relative;
    margin: auto;
    height: 150px;
    width: 280px;
    background: white;
    border-radius: 10px;
    transform: rotate(-3deg);
}

body main #main #product #grid-product .column .img {
    position: absolute;
    top: 0;
    left: 0;
    height: 150px;
    width: 280px;
    border-radius: 10px;
    transition: transform 1s ease, opacity 1s ease;
    /* Tambahkan agar background dari JS terlihat */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
}

body main #main #product #grid-product .column .img-front {
    z-index: 2;
}

body main #main #product #grid-product .column .img-front.slide-out {
    transform: translateX(300px) rotate(3deg);
    opacity: 0;
}

body main #main #product #grid-product .column .img-back {
    z-index: 1;
}

body main #main #slug {
    padding: 23px 15px;
    /* height: 120px; */
    max-height: 100%;
    display: flex;
    background-color: #0f8fff;
    position: relative;
    overflow: hidden;
}

body main #main #slug #slug-text {
    margin: auto;
    margin-right: 5px;
    width: 50%;
    text-align: end;
    color: white;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body main #slug #bg-slug-video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /*isi penuh tanpa distorsi */
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: 1;
    /* default tampil */
    transition: opacity 1s ease-in-out;
    /* durasi & efek transisi */
}
body main #slug #bg-slug-filter{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.5);
    /*isi penuh tanpa distorsi */
    transform: translate(-50%, -50%);
    z-index: 1 ;
    opacity: 1;
    /* default tampil */
    transition: opacity 1s ease-in-out;
    /* durasi & efek transisi */
}
body main #slug #footer {
    /* padding: 2px; */
    display: flex;
    flex-direction: column;
    width: 50%;
    height: fit;
    /* border: solid 1px; */
    /* margin: auto; */
    color: #fff;
    margin-bottom: 5px;
    z-index: 1;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /* text-align: center; */
}
body main #footer img{
    width: 50px;
}
body main #footer span{
    margin: auto;
    margin-bottom: 5px;
    margin-left: 0px;
}
