body {
    margin: 0;
    background-color: #10507c;
}
nav {
    display: flex;
    padding: 0px 50px;
    height: 12vh;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    gap: 25px;
}
nav h2 {
    font-size: 20px;
    color: #f7f7f7;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 85vh;
    gap: 70px;
}
.social {
    background-color: #ffffff00;
    border-width: 0;
    padding: 0px;
}
.social i {
    font-size: 25px;
    color: #f7f7f7;
}
.social:hover {
    opacity: 0.85;
    cursor: pointer;
}

.titles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 67vw;
    color: #f7f7f7;
}
.titles h1 {
    font-size: 175px;
    margin: 0;
}
.titles h2 {
    font-size: 20px;
    margin: 10px -30pc 0px 0px;
}