/*Song for this file: Lemonade by Worzy*/
/*Universal basic cascading stuff*/
html, body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    scrollbar-width: none;
}
.large-container {
    display: flex;
    flex-direction: row;
}
.manage-container {
    text-align: center;
    background-color: #eaeaea;
    padding: 10px;
    flex: 1;
    border-radius: 10px;
    margin: 20px 20px;
}

/*Toast*/
#toast-container {
  position: fixed;
  top: -10px;
  left: 20px;
  z-index: 9999;
}
.toast {
  background: #333;
  color: #fff;
  padding: 12px 16px;
  margin-bottom: 10px;
  border-radius: 8px;
  min-width: 200px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  font-size: 14px;
}
.show {
  opacity: 1;
  transform: translateY(0);
}
.success {
  background: #28a745;
}
.error {
  background: #7a1010;
}

/*Stats*/
#stat-active {
    color: #107a23;
}
#stat-blocked {
    color: #dc3543;
}

/*Tables*/
.table-wrapper {
    overflow-x: auto;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    margin: 20px 0;
}
.table-wrapper table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.table-wrapper th {
    background-color: #104f7a;
    color: #f7f7f7;
    padding: 10px 0px;
    text-align: center;
}
.table-wrapper td {
    text-align: center;
    height: 10vh;
    background-color: #dadada;
}
.table-wrapper tr:nth-child(even) td {
    background-color: #cdcdcd;
}
.number {
    width: 5%;
}
.action {
    width: 30%;
}

.table-wrapper th:first-child {
    border-top-left-radius: 8px;
}
.table-wrapper th:last-child {
    border-top-right-radius: 8px;
}
.table-wrapper tr:last-child td:first-child {
    border-bottom-left-radius: 8px;
}
.table-wrapper tr:last-child td:last-child {
    border-bottom-right-radius: 8px;
}

/*The part of buttons*/
.buttons {
    background-color: #ffffff00;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.button {
    min-width: 2vw;
    min-height: 5vh;
    border-radius: 10px;
    border: 0px;
    margin: 5px;
    padding: 0px 15px;
}
.button:hover {
    opacity: 0.8;
    cursor: pointer;
}
.button i {
    font-size: 15px;
}
.default {
    background-color: #104f7a;
    color: #f7f7f7;
}
.alert {
    background-color: #7a1010;
    color: #f7f7f7;
}
.warning {
    background-color: #717a10;
    color: #f7f7f7;
}

/*The form modal, work for both content and MoU*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008b;; /* semi-transparent overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modal.hidden {
    display: none;
}
.modal-content {
    background-color: #f7f7f7;
    border-radius: 12px;
    padding: 30px 40px;
    box-shadow: 0 8px 25px #0000008b;;
    width: 100%;
    max-width: 500px;
    position: relative;
    text-align: left;
}
.submit-btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background-color: #104f7a;
    color: #f7f7f7;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.submit-btn:hover {
    opacity: 0.85;
    cursor: pointer;
}
.cancel-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #dc3543;
    color: #f7f7f7;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.cancel-btn:hover {
    opacity: 0.85;
    cursor: pointer;
}
label {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}
input, textarea {
    min-width: 95%;
    padding: 10px 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    resize: vertical;
}
select {
    min-width: 100%;
    padding: 10px 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    resize: vertical;
}

/*Footer and more*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #104f7a;
    min-height: 20vh;
    color: #f7f7f7;
}
footer p {
    font-size: 15px;
}

.socials {
    margin: 15px;
    display: flex;
    gap: 40px;
}

.social {
    background-color: #ffffff00;
    border-width: 0;
    padding: 0px;
}
.social i {
    font-size: 30px;
    color: #f7f7f7;
}
.social:hover {
    opacity: 0.85;
    cursor: pointer;
}


/*Forbidden page*/
.forbidden {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:100vh;
    text-align:center;
    font-family:sans-serif;
}
.forbidden h1 {
    font-size: 50px;
}